stages:
  - build
  - test
  - deploy

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/website-sphinx-app-docs.yml

variables:
    EPUB_NAME: KdenliveManual
    # Translation coverage can be checked here
    # https://l10n.kde.org/stats/gui/trunk-kf5/package/documentation-docs-kdenlive-org/
    # As a rough guideline don't enable language with less than 10% coverage
    # Remember to also update resources/static/js/version_switch.js and 404handler.php
    WEBSITE_LANGUAGES: en ca cs es it nl pt pt_BR sl sv uk zh_CN zh_TW

# Modify the build job to use the VM image (instead of Poadman) to fix performance issues
build_sphinx_app_docs:
  image: storage.kde.org/vm-images/staticweb
  tags:
    - VM
    - amd64
  variables:
    # This needs to be a path that exists, otherwise it will fallback to /tmp
    TMPDIR: $CI_PROJECT_DIR

run_tests:
  stage: test
  image: invent-registry.kde.org/sysadmin/ci-images/staticweb:latest
  variables:
    TEST_HTML_OUTPUT: public/en
  tags:
    - Linux
  script:
    - make test

